/* ToDo.module.css */
button {
  border: none;
  background-color: #f1e4dc;
  color: #424242;
  padding: 6px 12px;
  cursor: pointer;
}
.add-button {
  margin-left: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.listy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 60%;
  padding: 10px;
}

.text {
  flex: 1;
}

ol {
  padding: 0px;
}

input[type="text"] {
  padding: 6px;
  border: 0;
}

.maint {
  max-height: 15rem;
  overflow-y: auto;
  padding: 10px;
}

.to-do h1 {
  padding-left: 10px;
  margin-bottom: 0%;
  padding-bottom: 0;
}
.to-do {
  padding-left: 0px;
}

.to-do p {
  padding-left: 20px;
  padding-top: 0%;
}

span {
  padding-left: 40px;
}

