.main {
  max-height: 15rem;
  overflow-y: auto;
  padding: 10px;
}
.controls {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.display {
  font-size: 30px;
  padding: 20px;
}

button:hover {
  background-color: #f0dedc;
}

.main h1 {
  margin: 0%;
  padding-bottom: 0%;
}

.main p {
  padding-top: 1px;
}

h2 {
  width: 15%;
}

.rows {
  display: flex;

}

.pr{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

